<?xml version="1.0"?>
<launch>
  	<!-- <arg name="trial" default="$(find mamp_planning)/src/agents.txt"/> -->
  	<arg name="test" default="world_mobile_1_test_0.txt"/>
	<param name="test" value="$(arg test)"/>

	<param name="mobile_robot" command=" cat $(find panda_multiple_arms)/robot_description/mobile_robot.urdf" />
	<param name="walls" command=" cat $(find panda_multiple_arms)/robot_description/walls.urdf" />

	<!-- Mobile, With shelves -->
	<param name="world_mobile_1" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_1.urdf" />
	<param name="world_mobile_4" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_4.urdf" />
	<param name="world_mobile_9" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_9.urdf" />

	<!-- Mobile, Without Shelves -->
	<param name="world_no_shelves_mobile_1" command=" cat $(find panda_multiple_arms)/robot_description/world_no_shelves_mobile_1.urdf" />
	<param name="world_no_shelves_mobile_4" command=" cat $(find panda_multiple_arms)/robot_description/world_no_shelves_mobile_4.urdf" />
	<param name="world_no_shelves_mobile_9" command=" cat $(find panda_multiple_arms)/robot_description/world_no_shelves_mobile_9.urdf" />

	<!-- Arms, arm-only-world -->
	<param name="world_arm_1" command=" cat $(find panda_multiple_arms)/robot_description/world_arm_1.urdf" />
	<param name="world_arm_2" command=" cat $(find panda_multiple_arms)/robot_description/world_arm_2.urdf" />
	<param name="world_arm_3" command=" cat $(find panda_multiple_arms)/robot_description/world_arm_3.urdf" />
	<param name="world_arm_4" command=" cat $(find panda_multiple_arms)/robot_description/world_arm_4.urdf" />
	<param name="world_arm_6" command=" cat $(find panda_multiple_arms)/robot_description/world_arm_6.urdf" />


	<!-- Arms with the smaller shelves -->
	<param name="shelf_arm_1" command=" cat $(find panda_multiple_arms)/robot_description/shelf_arm_1.urdf" />
	<param name="shelf_arm_6" command=" cat $(find panda_multiple_arms)/robot_description/shelf_arm_6.urdf" />


	<!-- Mobile with the smaller shelves -->
	<param name="shelf_mobile_1" command=" cat $(find panda_multiple_arms)/robot_description/shelf_mobile_1.urdf" />
	<param name="shelf_mobile_4" command=" cat $(find panda_multiple_arms)/robot_description/shelf_mobile_4.urdf" />
	<param name="shelf_mobile_9" command=" cat $(find panda_multiple_arms)/robot_description/shelf_mobile_9.urdf" />

	<!-- Mobile and Arms worlds -->
	<param name="world_mobile_1_arm_1" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_1_arm_1.urdf" />
	<!-- <param name="world_mobile_1_arm_6" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_1_arm_6.urdf" /> -->
	<param name="world_mobile_4_arm_6" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_4_arm_6.urdf" />
	<param name="world_mobile_9_arm_6" command=" cat $(find panda_multiple_arms)/robot_description/world_mobile_9_arm_6.urdf" />


	<node pkg="mamp_planning" type="mamp_planning_node" name="mamp_planning_node" output="screen"/>
	

	  <!--  **************** Visualisation ****************  -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find steer_bot_viz)/rviz/steer_bot_planning.rviz"/> -->

</launch>